/**
 * Base styles
 */
html {
    font-family: $base-font;
    font-size: 62.5%;
}

body {
  position: relative;
  background-color: $background-color;
  color: $color;
}
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
@include selection {
    background: #000;
    text-shadow: none;
    color: white;
}

.no-bullet,
%no-bullet {
    list-style: none;
}

ul {
    &.no-bullet {
        @extend %no-bullet;
    }
}

/* Misc ---------------------- */
.hide,
%hide {
    display: none;
}

// When we want the last column to fill in the remainder of the row
.fill-remainder,
%fill-remainder {
    float: none;
    overflow: hidden;
}

.vertical-center,
%vertical-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

.light-btn,
%light-btn {
  position: relative;
  overflow: hidden;
  z-index: 9;

  display: inline-block;
  line-height: 6rem;
  font-size: 1.8rem;
  letter-spacing: .15rem;
  padding: 0 4rem;
  border-radius: 3rem;
  font-family: $title-font;
  text-transform: uppercase;
  
  border: 2px solid white;
  text-align: center;
  text-decoration: none;

  // Size 
  &.small {
    font-size: 1.2rem;
    text-transform: lowercase;
    line-height: 3rem;
  }

  // Color styles
  &.golden {
    border-color: $golden;
    color: $golden;
    &:hover {
      color: white;
    }
    &:after {
      background: $golden;
    }
  }
  &.grey {
      border-color: #bfbfbf;
      color: #bfbfbf;
      &:hover {
        color: black;
      }
      &:after {
        background: #bfbfbf;
      }
  }
  &.white {
      border-color: #ffffff;
      border-width: 1px;
      color: #ffffff;
      &:hover {
        color: black;
      }
      &:after {
        background: #ffffff;
      }
  }

  // Style
  &.centered {
    left: 50%; 
    @include transform(translateX(-50%));
  }

  // Hover effect
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    // @include transition(all 0.3s ease-in);
    
    // Animate :after el from middle
    // width: 101%;
    // height: 0;
    // top: 50%;
    // left: 50%;
    // @include transform(translateX(-50%) translateY(-50%));
    
    // Animate :after el from left
    // width: 0%;
    // height: 100%;
    // top: 0;
    // left: 0;

    // Animate :after el from top left
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    @include transform(rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0));
    @include transform-origin(0% 100%);
    @include transition(transform 0.4s, opacity 0.3s, background-color 0.3s);
  }
  &:hover {
    &:after {
      opacity: 1;
      // height: 100%;

      // width: 100%;

      @include transform(rotate3d(0, 0, 1, 0deg));
      @include transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1))
    }
  }
}

.clearfix,
%clearfix {
  @include clearfix;
}

.squarePadded {
  overflow: hidden;
  position: relative;

  width: calc(50% - 0.95rem);
  padding-bottom: 46%;
  float: left;

  margin-right: 1.7rem;
  margin-bottom: 1.7rem;
  @include omega(2n);

  box-sizing: border-box;

  > * {
    position: absolute;
    width: 100%; height: 100%;
  }
  img {
    width: 100%;
  }
}
.play-btn {
  cursor: pointer;
  background: url('../images/asset-chevron-right-play.png') no-repeat;
  background-position: 53% 49% ;
  @include size(6.6rem);
  box-sizing: border-box;
  display: block;
  border-radius: 100%;
  // border: 2px solid rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  position: absolute;
  z-index: 9;
  left: 50%; margin-left: -4.5rem;
  top:50%; margin-top: 7rem;
  @include transition(all 0.25s ease);
  &:hover {
    @include transition(all 0.25s ease);
    @include transform(scale(1.1));
  }
}
