/**
 * Base styles ~ Colours
 */
$color: #adadad;
$background-color: #ffffff;
$heading-colour: #000000;
$link-color: #adadad;
$link-color-hovered: #000000;
$code-color: #444444;
$blockquote-color: #6f6f6f;
$hr-color: #dddddd;
$golden: #b9a07b;
/**
 * Add custom colours and their respective classes, ie:
 *
 * $red: #E23C3C;
 *
 * .red,
 * %red {
 *     color: $red;
 * }
 *
 */