@import "./bower_components/neat/app/assets/stylesheets/_neat-helpers";

/**
 * Base styles ~ Grid options
 */
$gutter: 0.3em;
$border-box-sizing: true;
$grid-columns: 12 !default;
$max-width: em(2200);
// $max-width: none;
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;