.modal {

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;
    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-inner {
    background: white;
    border-radius: .3rem;
    margin: auto;
    margin-top: 5vh;
    max-height: 90vh;
    height: 90vh;
    overflow: auto;
    padding: 3rem;
    position: relative;
    width: 95%;

    iframe {
      display: block;
      width: 100%; height: 100%;
    }
    .video-modal {
      width: 100%; height: 100%;
    }
  }

}
