.landing.about {
	background: url("../images/background-landing-about@2x.jpg") no-repeat center center;
	background-size: cover;
	height: 50rem;
	position: relative;

	.modal-fade-screen {
	    padding: 0;
	    padding-top: 5vh;
	}
	.modal-inner {
	    width: 100%;
	    max-height: 100%;
	    overflow: hidden;
	    padding: 0;
	}

	.play-btn {
  		background: url('../images/icon-play-btn.png') no-repeat center center;
  		border-width: 5px;
  		top: 50%;
  		margin-top: 0rem;
	    margin-left: -6rem;
  		@include size(8rem);
	}
}

.main#about {
	section.text-block {
		margin-top: 10rem;
		margin-bottom: 20rem;
		h3 {
			font-size: 1.6rem;
			text-align: center;
			margin-bottom: 10rem;
		}
		.row {
			@include outer-container;
			> div {
				@include span-columns(4);
				margin: 0; padding: 0;
				&:first-child {
					padding-right: 2.5rem;
				}
				&:nth-child(2) {
					padding: 0 2.5rem;
				}
				&:last-child {
					padding-left: 2.5rem;
				}
				p {
					color: $color;
					font-family: $font-book;
					font-size: 1.4rem;
					line-height: 3.3rem;
					text-align: justify;
				}
				p.quote {
					font-family: 'Vollkorn', serif;
					font-size: 2.3rem;
					line-height: 2.6rem;
					color: $golden;
					text-align: center;
					margin: 7.7rem 0;
				}
			}
		}
	}
	section.founder {
		.row {
			@include outer-container;
			margin-top: 11.7rem;
			margin-bottom: 17.5rem;
			div {
				@include span-columns(6);
				padding: 0 2rem 0 3rem;
				&:last-child {
					padding-right: 5rem;
					text-align: right;
					padding: 0 3rem 0 2rem;
				}
				h2, h3 {
					font-family: $title-font;
					font-size: 1.8rem;
					text-transform: uppercase;
				}
				h3 {
					color: $golden;
					margin-bottom: 5.5rem;
				}
				p {
					font-size: 2.1rem;
					font-family: $base-font;
					color: #adadad;
				}
			}
		}
	}
	section.paris-sandiego {
		> .row {@include outer-container;}

		.half {
			@extend .squarePadded;
		}
	}
	section.slider {
		margin-bottom: 2.7rem;
		.outer-wrap {
			width: 100%;
			max-width: 100vw;
			overflow: hidden;
		}
		#slider {
			ul {
				height: 40rem;
				li {
					@include size(auto 100%);
				}
			}
		}
	}
}