.main#contact {
	@include outer-container;

	section {
		width: 100%;
		overflow: auto;

		&:first-child {
			margin-top: 10rem;
		}
		&:last-child {
			margin-bottom: 20rem;
		}
		.half {
			@extend .squarePadded;
			width: 50%;
			margin-right: 0;
			margin-bottom: 0;

			div {
				> div.vertical-center {
					div {
						display: inline-block;
						position: relative; left: 50%;
						@include transform(translateX(-50%));
					}
				}
				h2, h3 {
					font-family: $font-med;
					font-size: 1.6rem;
					line-height: 2.5rem;
					color: black;
					text-transform: uppercase;
					margin-top: 0;
					margin-bottom: 0;
				}
				h3 {
					color: #989898;
					margin-bottom: 5rem;
				}
				p {
					font-family: $font-book;
					color: #6c6c6c;
					font-size: 1.4rem;
					line-height: 2.5rem;
				}
				a.light-btn {
					@extend .small;
				}
			}
		}

		&.follow .light-btn {
			width: 10rem;
			text-align: center;
			padding: 0; 
			margin-bottom: 1rem;
		}
	}
}