footer.big {
	background: black;
	width: 100%;
	height: 100%;

	.brand {
		@include span-columns(6);
		@include shift(3);
		h1 {
			margin-top: 9.5rem;
		}
		.social {
			margin: 2rem auto 1.5rem !important;
		}
	}

	.outer-container {
		@include outer-container;
		width: 100%;
		overflow: auto;
		hr {
			border: 1px solid #363636;
			margin-bottom: 3.6rem;
		}
		> div {
			height: 1.2rem;
			margin-bottom: 5rem;
			> div {
				@include span-columns(3);
				font-size: 1.2rem;
			}
			nav {
				@include span-columns(9);
				ul {
					list-style-type: none;
					padding: 0; margin: 0;
					float: right;
					display: inline-block;
					vertical-align: middle;
					li {
						display: inline-block;
						margin-left: 1.8rem;
						&:first-child {
							margin-left: 0;
						}
						a {
							font-size: 1.2rem;
							text-decoration: none;
							text-transform: lowercase;
						}
					}
				}
			}
		}
	}
}
.brand {
	h1 {
		color: white;
		text-align: center;
		margin-bottom: 2.3rem;
		img {
			width: 8.5rem;
			display: block;
			margin: 0 auto;
		}
	}
	.baseline {
		color: #999999;
		font-size: 1.33rem;
		text-align: center;
		margin-bottom: 0;
	}
	.social {
		width: 100%;
		display: block;
		margin: 4rem 0 4rem;

		ul {
			list-style: none;
			padding: 0;
			display: inline-block;
			position: relative;
			left: 50%; 
			@include transform(translateX(-50%));
			
			li {
				display: inline-block;
				margin-right: 1.7rem;
				a {
					text-decoration: none;
					font-size: 1.4rem;
					color: #d2d2d2;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}