header.black {
	$header-bg: #000000;
	$header-color: #ffffff;
	height: 7.8rem;
	padding-top: 3rem;
	background-color: $header-bg;
	
	.wrapper {
		@include outer-container;
	}

	a {text-decoration: none;}

	a.logo {
		


		// img {
		// 	width: 5.7rem;
		// 	max-width: 5.7rem;
		// }
	}
}
header {
	#trigger {
		font-size: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		vertical-align: top;
		float: right;
		cursor: pointer;
		color: white;
		@include media($mobile) {
			@include size(4rem);
			float: right;
			i {
				float: right;
			}
		}
	}
	a.logo {
		display: block;
    	vertical-align: top;
    	width: 7.7rem;
    	max-width: 6.7rem;
    	height: 1.4rem;
    	float: left;
    	text-indent: -9999px;
    	background: url(../images/logo.svg) 0 0/18.7rem no-repeat;
	    background-position-x: 0;
		background-position-y: 0;
	}
}
header:not(.black) {
	position: absolute;
	width: 100%;
	z-index: 88889;
	top: 4.3rem;

	a.logo {
		
		img {
			width: 5.7rem;
			max-width: 5.7rem;
		}
	}
	
	> div{
		@include outer-container;
		padding-left: 5.5rem;
		padding-right: 5.5rem;
		padding-bottom: 2.8rem;
		border-bottom: 1px solid rgba(255,255,255, 0.2);
		@include media($mobile) {
			padding-left: 0;
			padding-right: 0;
			border-bottom-width:1px;
		}
	}
}
header.black.hidden {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 88889;
    top: -7.8rem;
}

body.home {
	.abs-wrap {
		position: absolute;
		top: 0; width: 100%;
		z-index: 99888;
		> .baseline {
		    position: absolute;
			width: 77.2%;
			left: 50%;
			@include transform(translateX(-50%));
			top: 5.5rem;
			p {
				font-family: $alt-font;
				font-size: 1.3rem;
				color: rgba(255,255,255,0.6);
				@include media($mobile) {
					padding-right: 2rem;
					font-size:1.6rem;
				}
			}
		}

	}
	
		
	header:not(.black) {
		.wrapper {
		    padding-left: 0;
		    padding-right: 0;
		    border-bottom: none;
		}
		p {
			font-size: 1.75rem;
			margin-top: 0;
			color: white;
		}
	}
}