.landing.home {
	background: url("../images/background-landing-home.jpg") no-repeat center center;
	background-size: cover;
	height: 100vh;

	header {
		@include outer-container;
		padding-top: 9.5rem;

		a {
			display: block;
			font-size: 2.2rem;
			font-weight: bold;
			text-decoration: none;
			color: white;
		}
		p {
			font-size: 1.75rem;
			margin-top: 0;
			color: white;
		}
	}

	.vertical-center{
		@include outer-container;
		// margin-top: 20.5rem;
		h1 {
			@include hide-text;
			margin: 0;
		}
		p {
			font-size: 4.5rem;
			color: #c9c9c9;
			span {
				color: white;
			}
		}
		a.arrow-down {
			width: 1.9rem;
			height: 1rem;
			display: block;
			background: url("../images/asset-chevron-down.png") no-repeat center center;
			margin-left: 3.3rem;
			margin-top: 22rem;
		}
	}
}
.main#home {
	
	section {

		h3 {
			text-align: center;
			text-transform: uppercase;
			font-size: 2.1rem;
			margin-top: 27rem;
		}
		
		&.intro {
			@include outer-container;
			padding: 20rem 0;
			@include row;
			div {
				@include span-columns(6);
				@include omega;

				h2 {
					font-size: 2.8rem;
					// margin: 0;
				}
				p {

					margin-top: 0;
					font-size: 2.8rem;
				}
			}
		}
		&.showreel {
			img {
				margin: 0 auto;
				max-width: 100%;
			}

		}
		&.clients {
			@include outer-container;
			> div {
				> div {
					width: calc(100% / 5);
					display: block;
					float: left;
					img {
						width: 100%;
					}
				}
			}
		}
		&.work {
			@include outer-container;

			h3 {
				margin-bottom: 14rem;
			}


			.single-work {
				position: relative;
				display: block;
				width: 50%;
				float: left;
				overflow: hidden;
				.hover {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0; right: 0;
					top: 0; bottom: 0;
					background: rgba(0,0,0,0.8);
					z-index: 8;
					// opacity: 0;

					> div {
						@extend .vertical-center;
						text-align: center;
						p {
							margin: 0;
							font-size: 1.85rem;
							color: #fff;
							margin-bottom: 1.8rem;
						}
						h5 {
							margin: 0;
							font-size: 1.85rem;
							color: $golden;
							text-transform:uppercase;
						}
					}
				}	
				a {
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 9;
				}

			}
		}
		&.news {
			@include outer-container;

			h3 {
				margin-bottom: 14rem;
			}

			> div {
				border-top: 2px solid #e5e5e5;

				.single-news {
					@include row;

					border-bottom: 2px solid #e5e5e5;
					height: 12.5rem;
					line-height: 12.5rem;
					position: relative;
					padding: 0 5rem;
					cursor: pointer;

					.date {
						@include span-columns(3);
						font-size: 1.866rem;
						color: $link-color;
					}
					.title {
						@include span-columns(9);
						color: black;
						font-size: 2.133rem;
						text-align: right;
						@include transition(all 0.3s ease-in);

					}
					.chevron-right {
						width: 0.9rem; height: 2rem;
						background: url('../images/asset-chevron-right.png') no-repeat center center;
						position: absolute; right: 5rem; top: 5.2rem;
						display: inline-block;
						vertical-align: middle;
						opacity: 0;
						@include transition(all 0.3s ease-in);

					}
					&:hover {
						.title {
							color: $link-color;
							padding-right: 2rem;
							@include transition(all 0.2s ease-out);
						}
						.chevron-right {
							opacity: 1;
							@include transition(all 0.2s ease-out);
						}
					}
				}
			}
		}
		&.carreers {
			@include outer-container;
			
			p {
				font-size: 2.8rem;
				text-align: center; 
			}
			a.light-btn {
				margin-bottom: 29rem;
				margin-top: 6.5rem;
			}
		}
	}

}