.landing.home {
	background: url("../images/background-landing-onlywatch@2x.jpg") no-repeat center center;
	background-size: cover;
	height: 100vh;

	header {
		@include outer-container;
		padding-top: 9.5rem;

		p {
			font-size: 1.75rem;
			margin-top: 0;
			color: white;
		}
	}

	.project-infos {
		@include outer-container;
		@extend .vertical-center;
		// margin-top: 20.5rem;
		h2 {
			color: #d3d3d3;
			margin: 0;
			font-size: 2.8rem;
			text-transform: uppercase;
			margin-bottom: 3rem;
		}
		p {
			@include span-columns(10);
			
			font-family: $font-book;
			font-size: 4.3rem;
			line-height: 6rem;
			color: white;
			margin-top: 0;
			margin-bottom: 6rem;
			span {
				color: white;
			}
		}
		a.light-btn {

			line-height: 5rem;
			font-size: 1.3rem;
		}
	}
}
.main#home {
	
	section {

		h3 {
			font-family: $font-med;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.1rem;
			margin-top: 27rem;
		}
		
		&.intro {
			@include outer-container;
			padding: 20rem 0;
			@include row;
			div {
				@include span-columns(7);
				padding-right: 3rem;
				@include omega;

				@include media(max-width 1440px, 12) {
					@include span-columns(10);
					@include shift(1);
				}

				h2 {
					font-family: $font-med;
					font-size: 2.8rem;
					// margin: 0;
				}
				p {
					font-family: $base-font;
					margin-top: 0;
					font-size: 2.8rem;
					line-height: 5.3rem;
					word-wrap: nowrap;	
				}
			}
		}
		&.showreel {
			position: relative;
			img {
				margin: 0 auto;
				max-width: 100%;
			}

			h2 {
				position: absolute;
				z-index: 9;
				width: 100%; text-align: center;
				color: #fff;
				font-family: $font-med;
				text-transform: uppercase;
				font-size: 5.33rem;
				letter-spacing: 2.4rem;
				margin-top: 15%;
			}

			a.play-btn {
				background: url('../images/asset-chevron-right-play.png') no-repeat;
				background-position: 51% 49% ;
				@include size(9rem);
				@include box-sizing(border-box);
				display: block;
				border-radius: 100%;
				border: 3px solid rgba(255, 255, 255, 0.3);
				position: absolute;
				z-index: 9;
				left: 50%; margin-left: -4.5rem;
				top:50%; margin-top: 7rem;
				@include transition(all 0.25s ease);
				&:hover {
					@include transition(all 0.25s ease);
					@include transform(scale(1.1));
				}
			}

		}
		&.clients {
			@include outer-container;
			> div {
				> div {
					width: calc(100% / 5);
					display: block;
					float: left;
					position: relative;

					img {
						width: 100%;
					}
					&:before {
						content: "";
						position: absolute;
						width: 100%; height: 100%;
						z-index: -1;
						background: url('../images/asset-home-clients-hover.png') no-repeat center center;
						background-size:98%;
						top: 0; left: 0;	
						opacity: 0;
						@include transition(opacity 0.25s ease-in);
					}
					&:hover {
						&:before {
							opacity: 1;
							@include transition(opacity 0.25s ease-out);
						}
					}
				}
			}
		}
		&.work {
			@include outer-container;

			h3 {
				margin-bottom: 14rem;
			}


			.single-work {
				position: relative;
				display: block;
				width: 50%;
				// max-height: 50vh;
				height: 100%;
				float: left;
				overflow: hidden;

				img {
					width: 100%;
				}

				.hover {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0; right: 0;
					top: 0; bottom: 0;
					background: rgba(0,0,0,0.8);
					z-index: 8;
					// opacity: 0;

					> div {
						@extend .vertical-center;
						text-align: center;
						p {
							font-family: $font-Stmed;
							letter-spacing: .1rem;
							margin: 0;
							font-size: 1.85rem;
							color: #fff;
							margin-bottom: 1.8rem;
						}
						h5 {
							font-family: $font-Stmed;
							letter-spacing: .1rem;
							margin: 0;
							font-size: 1.85rem;
							color: $golden;
							text-transform:uppercase;
						}
					}
				}	
				a {
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 9;
				}

			}
		}
		&.news {
			@include outer-container;

			h3 {
				margin-bottom: 14rem;
			}

			> div {
				border-top: 2px solid #e5e5e5;

				.single-news {
					@include row;

					border-bottom: 2px solid #e5e5e5;
					height: 12.5rem;
					line-height: 12.5rem;
					position: relative;
					padding: 0 5rem;
					cursor: pointer;

					.date {
						font-family: $font-book;
						@include span-columns(2);
						font-size: 1.866rem;
						color: $link-color;
					}
					.title {
						font-family: $font-Stmed;
						@include span-columns(10);
						color: black;
						font-size: 2.133rem;
						text-align: right;
						@include transition(all 0.3s ease-in);

					}
					.chevron-right {
						width: 0.9rem; height: 2rem;
						background: url('../images/asset-chevron-right.png') no-repeat center center;
						position: absolute; right: 5rem; top: 5.2rem;
						display: inline-block;
						vertical-align: middle;
						opacity: 0;
						@include transition(all 0.5s ease-in);
						@include transform(scale(0.85));
					}
					&:hover {
						.title {
							color: $link-color;
							padding-right: 2rem;
							@include transition(all 0.4s ease-out);
						}
						.chevron-right {
							opacity: 1;
							@include transition(all 0.4s ease-out);
						}
					}
				}
			}
		}
		&.carreers {
			@include outer-container;
			
			p {
				font-size: 2.8rem;
				text-align: center; 
			}
			a.light-btn {
				margin-bottom: 29rem;
				margin-top: 6.5rem;
			}
		}
	}
}