.landing:not(.home) {
	position: relative;
	
	.h1, .h2 {
		font-family: $title-font;
		text-transform: uppercase;

		position: absolute;
		z-index: 8;
		left: 37%;

		// padding-left: 0;
		@include media($isMobile) {
			width: 90% !important;
			max-width: 90% !important;
			margin-left: 5%;
			padding-right: 5rem;
			padding-left: 5rem;
			left: 0;
			text-align: center;
			top: 35% !important;
		}

		@include media($medium) {
			top:30% !important;left:0;
			width: 90% !important;
			max-width: 90% !important;
			margin-left: 5%;
			padding-right: 5rem;padding-left: 5rem;
			text-align: center;
		}
		@include media($mobile){
			text-align: left;
			top: 55% !important;
		}
	}
	.h1 {
		font-size: 3rem;
		letter-spacing: 0.2rem;
		color: white;
		// top: 32.8rem;
		bottom: 10rem;
		@include media($medium){
			font-size: 3.4rem !important; 
		}
		@include media($mobile){
			font-size: 2.2rem !important; 
		}
	}
	.h2 {
		font-family: $base-font;
		text-transform: lowercase;
		font-size: 2rem;
		letter-spacing: 0.1rem;
		color: white;
		opacity: 0.8;
		// top: 36.5rem;
		bottom: 6rem;
		@include media($isMobile){
			top:43% !important;
		}
		@include media($mobile){
			top:65% !important;
		}
	}
	img {
		max-width: 100%;
	}
	&.news {
		.h1 {
			line-height: 5rem;
			top: 26.5rem;
			max-width: 55%;
			
			font-family: $base-font;
			font-size: 3rem;
			text-transform: none;
		}
		@include media($mobile){
			.h1 {
			    top: 30% !important;
	    		line-height: 1.5;
			}
		}
			
	}
	&.allnews {
		h1 {
			top: initial;
			left:20%;
			bottom: 16.8rem;
			@include media($mobile){
				margin-top: 20%;
				padding-left: 0;
				left: 10%;
			}
			@include media(min-width 480px max-width 1366px){
				top: 21.5rem !important;
    			max-width: 65% !important;
			}
		}
		a.more {
			position: absolute;
			left: 20%;
			bottom: 12.1rem;
			font-size: 1.2rem;
			line-height: 3;
			@include media($mobile){
				left: 10%;
				bottom:8rem;
			}
		}
	}
}