.landing:not(.home) {
	position: relative;
	header:not(.black) {
		position: absolute;
		width: 100%;
		z-index: 9;
		top: 4.3rem;
		
		> div{
			@include outer-container;
			padding-left: 5.5rem;
			padding-right: 5.5rem;
			padding-bottom: 2.8rem;
			border-bottom: 2px solid rgba(255,255,255, 0.2);
			@include media($mobile) {
				padding-left: 0;
				padding-right: 0;
				border-bottom-width:1px;
			}
		}
	}
	.h1, .h2 {
		font-family: $title-font;
		text-transform: uppercase;

		position: absolute;
		z-index: 8;
		left: 52rem;
		@include media($isMobile) {
			width: 100% !important;
			max-width: 100% !important;
			padding-right: 5rem;
			padding-left: 5rem;
			left: 0;
			text-align: center;
			top: 35% !important;
		}

		@include media($medium) {
			top:30% !important;left:0;
			width: 100% !important;
			max-width: 100% !important;
			padding-right: 5rem;padding-left: 5rem;
			text-align: center;
		}
		@include media($mobile){
			text-align: left;
			top: 55% !important;
		}
	}
	.h1 {
		font-size: 4rem;
		letter-spacing: 0.2rem;
		color: white;
		top: 32.8rem;
		@include media($medium){
			font-size: 3.4rem !important; 
		}
		@include media($mobile){
			font-size: 2.2rem !important; 
		}
	}
	.h2 {
		font-family: $base-font;
		text-transform: lowercase;
		font-size: 2rem;
		letter-spacing: 0.1rem;
		color: white;
		opacity: 0.6;
		top: 36.5rem;
		@include media($isMobile){
			top:43% !important;
		}
		@include media($mobile){
			top:65% !important;
		}
	}
	img {
		max-width: 100%;
	}
	&.news {
		.h2 {
			line-height: 5rem;
			top: 26.5rem;
			max-width: 55%;
		}
		.h1 {
		    top: 30% !important;
    		line-height: 1.5;
		}
	}
}