#loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 99998;
	background-color: transparent;
	overflow: hidden;
	
	.topHalf, .bottomHalf {
		width: 100%;
	    height: 50vh;
	    background-color: black;
	    position: absolute;
	}
	.topHalf {
		top:0;
	}
	.bottomHalf {
		bottom:0;
	}
	.vertical-center {
		z-index: 9999;
	}
	p {
		margin: 0;padding: 0;
		text-align:center;
		font-size: 1.6rem;
		letter-spacing: .2rem;
		@keyframes blink {
		    0% {
		      opacity: 0;
		    }
		    20% {
		      opacity: 1;
		    }
		    100% {
		      opacity: 0;
		    }
		}

		span {
		    animation-name: blink;
		    animation-duration: 1.4s;
		    animation-iteration-count: infinite;
		    animation-fill-mode: both;
		    &:nth-child(2) {
		    	animation-delay: .2s;
		    }
		    &:nth-child(3) {
		    	animation-delay: .4s;
		    }
		}
	}
}
#super-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 99999;
	background-color: black;
	overflow: hidden;
	video {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
	}
}