#loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 99999;
	background-color: transparent;
	overflow: hidden;
	
	.topHalf, .bottomHalf {
		width: 100%;
	    height: 50vh;
	    background-color: black;
	    position: absolute;
	}
	.topHalf {
		top:0;
	}
	.bottomHalf {
		bottom:0;
	}
	.vertical-center {
		z-index: 9999;

	}
	p {
		margin: 0;padding: 0;
		text-align:center;
		font-size: 1.6rem;
		letter-spacing: .2rem;
		@keyframes blink {
		    0% {
		      opacity: 0;
		    }
		    20% {
		      opacity: 1;
		    }
		    100% {
		      opacity: 0;
		    }
		}

		span {
		    animation-name: blink;
		    animation-duration: 1.4s;
		    animation-iteration-count: infinite;
		    animation-fill-mode: both;
		    &:nth-child(2) {
		    	animation-delay: .2s;
		    }
		    &:nth-child(3) {
		    	animation-delay: .4s;
		    }
		}
	}
}
#super-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 99999;
	background-color: black;
	overflow: hidden;
	video {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		@include media($mobile) {
			display: none;
		}
	}
	.hide-desktop {
		.vertical-center {
			@include media($mobile) {
				height: 2rem;
				position: absolute;
				top: 45%;
				left: 45%;
			}
		}
	}
		
}
.spinnerDad {
	@include size(2rem);
	margin: 0 auto;
}
.spinner { 
	@include size(2rem);
	margin-top: 15px;
	margin-left: 15px;
	position:relative;
	@include animation(rotation .6s infinite linear);
	// -webkit-animation: rotation .6s infinite linear;
	// -moz-animation: rotation .6s infinite linear;
	// -o-animation: rotation .6s infinite linear;
	// animation: rotation .6s infinite linear;
	border-left:4px solid rgba(255,255,255,.15);
	border-right:4px solid rgba(255,255,255,.15);
	border-bottom:4px solid rgba(255,255,255,.15);
	border-top:4px solid rgba(255,255,255,.8);
	border-radius:100%;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}