.navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99988;
	top: 0; left: 0; right: 0; bottom: 0;

	.closer {
		@include size(3rem);
		display:block;
		cursor: pointer;
		z-index: 89999;
		position: absolute;
	    top:7.5rem;
	    right: 11rem;
		span.cross {
			@include size(100%);
			@include transform(scale(.7));
			// @include transition(all 0.25s ease-in);
			display:block;
			background: url('../images/icon-cursor-black.png') no-repeat center center;
			background-size:100%;
		}
		&:hover {
			.cross {
				@include transform(scale(.8));
				// @include transition(all 0.25s ease-out);
			}
		}
		@include media($mobile){
			display:none;
		}
	}

	.overlay{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.75);

		h1.logo {
			margin: 5rem 0;
			img {
				max-width: 9rem;
				padding: 0 30%;
    			box-sizing: content-box;
			}
				
		}
		.brand {
			color: #999999;
			position: absolute;
		    bottom: 0;
		    width: 100%;
			.social a {color: #999999;}
			h2 {line-height: 1.5;}
			h1 {margin-top: 0;padding-top: 5rem;}
			background-color: white;
		}

		.menu {
			position: relative;
			z-index: 88999;

			@include media($desktop){
				@include span-columns(4);
			}
			@include media($mobile){
				width: 100%;
			}
			
			float:right !important;
			height: 100%;
			overflow: hidden;
			background-color: white;

			nav {
				@extend .vertical-center;
				top: 33% !important;
				ul {
					list-style: none;
					padding: 0;
					width: 100%;	
					height: 100%;
					li {
						@include media($mobile){
							&:first-child {
								position: absolute;
								top: -10rem;
								width: 100%;
								a {
									background: url(../images/icon-cursor-white.png) no-repeat center center;
									@include size(40px);
									background-size: 13%;
								}
							}	
						}
						a {
							color: black;
							text-transform: lowercase; 
							text-decoration: none;
							font-family: $light-font;
							font-size: 1.7rem;
							line-height: 6rem;

							display: inline-block;
							position: relative;
							height: 100%;
							width: 100%;
							padding: 0 30%;
							@include transition(all .35s ease-out);	
							&:hover {
								text-decoration: line-through;
							}
						}
							
					}
				}
			}
				
		}
	}
	.brand .social {
		display:inline-block;
		width: auto;
		margin: 0;
		padding: 4rem 10%;
		border-top: 1px solid $link-color;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
	}
}
		