.navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	top: 0; left: 0; right: 0; bottom: 0;

	// @include media($desktop){
		background: white;
	// }

	.closer {
		@include size(6rem);
		display:block;
		cursor: pointer;
		z-index: 999999;
		position: absolute;top:0;
		background-color: white;
		left: calc(58.1024061301% + 0.5542252878%);
		// @include transform(translateX(-50%));
		// @include transition(all 0.15s ease-in);
		span.cross {
			@include size(100%);
			@include transform(scale(.7));
			@include transition(all 0.25s ease-in);
			display:block;
			background: url('../images/icon-cursor-black.png') no-repeat center center;
		}
		&:hover {
			// background-color: black;
			// @include transition(all 0.15s ease-out);
			.cross {
				// background: url('../images/icon-cursor-white.png') no-repeat center center;
				@include transform(scale(.8));
				// @include transform(rotate(180deg));
				@include transition(all 0.25s ease-out);
			}
		}
	}

	.brand-wrap {
		@include span-columns(7);
		height: 100%;
		cursor: url('../images/icon-cursor-black.png'), default;

		.brand {
			@extend .vertical-center;
			color: #999999;
			.social a {color: #999999;}
			h2 {line-height: 1.5;}
		}
		@include media($mobile){
			display:none;
		}
	}
		
	.menu {
		@include media($desktop){
			@include span-columns(5);
		}
		@include media($mobile){
			width: 100%;
		}
		height: 100%;
		overflow: auto;
		background-color: black;
		nav {
			@extend .vertical-center;
			margin-top: -1rem;
		}
		ul {
			list-style: none;
			padding: 0;
			width: 100%;	
			height: 100%;
			li {
				text-align: center;
				@include media($mobile){
					&:first-child {
						position: absolute;
						top: -10rem;
						width: 100%;
						a {
							background: url(../images/icon-cursor-white.png) no-repeat center center;
							@include size(40px);
							background-size: 13%;
						}
					}	
				}
				a {
					color: white;
					text-transform: lowercase; 
					text-decoration: none;
					font-size: 1.7rem;
					line-height: 6rem;

					display: inline-block;
					position: relative;
					height: 100%;
					padding: 0 30%;
					@include transition(all .35s ease-out);	
					
					span {
						display:block;
						position: relative;
					}
					span:after {
						content: '';
						position: absolute;	
					    top: 53%;
					    width: 0;
					    height: .2rem;
					    background: white;
						display: block;
					    margin: 0 auto;
					}

					&:hover {
						// text-decoration: line-through;
						span:after {
							width: 100%;
							@include transition(all .35s ease-out);	
						}

					}
				}
					
			}
		}
	}
}