.navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	background: white;
	top: 0; left: 0; right: 0; bottom: 0;

	.brand-wrap {
		@include span-columns(7);
		height: 100%;
		cursor: url('../images/icon-cursor-black.png'), default;

		.brand {
			@extend .vertical-center;
			color: #999999;
			.social a {color: #999999;}
			h2 {line-height: 1.5;}
		}
		@include media($mobile){
			display:none;
		}
	}
		
	.menu {
		@include media($desktop){
			@include span-columns(5);
		}
		@include media($mobile){
			width: 100%;
		}
		height: 100%;
		overflow: auto;
		background-color: black;
		nav {
			@extend .vertical-center;
			margin-top: -1rem;
		}
		ul {
			list-style: none;
			padding: 0;
			width: 100%;	
			height: 100%;
			li {
				text-align: center;
				@include media($mobile){
					&:first-child {
						position: absolute;
						top: -10rem;
						width: 100%;
						a {
							background: url(../images/icon-cursor-white.png) no-repeat center center;
							@include size(32px);
						}
					}	
				}
				a {
					color: white;
					text-transform: lowercase; 
					text-decoration: none;
					font-size: 1.7rem;
					line-height: 6rem;

					display: inline-block;
					position: relative;
					height: 100%;
					padding: 0 30%;
					@include transition(all .35s ease-out);	
					
					span {
						display:block;
						position: relative;
					}
					span:after {
						content: '';
						position: absolute;	
					    top: 53%;
					    width: 0;
					    height: .2rem;
					    background: white;
						display: block;
					    margin: 0 auto;
					}

					&:hover {
						// text-decoration: line-through;
						span:after {
							width: 100%;
							@include transition(all .35s ease-out);	
						}

					}
				}
					
			}
		}
	}
}