
//==============   Single News
.main#single-news {
	.related {
		margin-bottom: 14rem;
		
		h3 {
			text-align: center;
			margin-bottom: 14rem;
		}
		> div {
			border-top: 2px solid #e5e5e5;
		}	
	}
}