.nextprev {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
height: 100%;
	// @include media($medium){
	// 	height: 100vh;
	// }

	// @include media($desktop){
	// 	max-height: 39.5rem;
	// }

	// @include media($mobile){
	// 	height: 100vh;
	// }
	
	.blockprevnext {
		height: 100%;
		position: relative;
		overflow: hidden;
		float: left;
		
		a {
			text-decoration: none;
		}
		&.half {
			width: 50%;
			// @include media($mobile){
			// 	width: 100%;
			// 	height: 50vh;
			// }
			// @include media($medium){
			// 	height: 35vh;
			// }
			@include media($desktop){
				height: 39.5rem;
			}

			@include media($mobile){
				height: 100vh;
				width: 100%;
				height: 50vh;
			}
			.txt-wrap {
				@include media($mobile){
					width: 72% !important;
					bottom: 4rem !important;
					h4{
						font-size: 2rem !important;
					}
				}
			}
			
		}
		&.full {
			width: 100%;
			@include media($medium){
    			height: 33rem;
			}
			@include media($mobile){
    			height: 14rem;
			}
			 font-size: 3.4rem;

			&.next {
				.txt-wrap {
					left: null;
					right: 10rem;
					text-align: right;
				}
			}
		}
		&.prev {
			.txt-wrap {
				text-align: right;
				right: 10rem;
				@include media($mobile){
					left: 5rem;
				}
			}
		}
		&.next {
			.txt-wrap {
				left: 10rem;
				@include media($mobile){
					right: 5rem;
				}
			}
		}
		.txt-wrap {
			position: absolute;
			bottom: 6.5rem;
			z-index: 9;
			a {color:white !important; z-index: 9 !important; position: relative !important;}

			p, h4 {
				color: white;
				text-transform: uppercase;
				position: relative;
				z-index: 99;
			}
			p {
				font-size: 1.1rem;
			}
			h4 {
				font-size: 3.1rem;
			}

			@include media($mobile){
				bottom:1rem !important;
			    width: 60%;
			    h4{
					font-size: 1.2rem !important;
					line-height: 1.5 !important;
				}
			}
			
		}

		div:nth-child(2) {
			@include size(100%);
			position: absolute;
			z-index: 5;

			> a {
				@include size(100%);
				display: block;
				position: absolute;
				z-index: 5;
			}
			.overlay {
				position: absolute;
				background: rgba(0,0,0,0.5);
				z-index: 4;
			}
			img {	
				@include size(auto);
				position: absolute;
				top: 0;left: 0;right: 0;bottom: 0;
				margin: auto;
				z-index: 3;
			// 	@include media(max)
   //  min-height: 100%;
   //  max-width: none;
			}
			
		}
	}
}
.news-nav {
	
	.prev, .next {
		h4 {
			font-size: 2.1rem !important;
		}
	}
	.prev {
		h4 {
			padding-left: 3rem !important;
		}
	}
	.next {
		h4 {
			padding-right: 3rem !important;
		}
		&.full {
			h4 {
				padding: 0 !important;
			}
		}
	}
}