.nextprev {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
	height: 100%;

	.blockprevnext {
		overflow: hidden;

		@include media($large){
			height: 39.5rem;
		}
		@include media($medium){
			height: 33rem;
		}

		@include media($mobile){
			width: 100%;
			height: 50vh;
		}
		a {text-decoration: none !important;}
			
		> div {
			position: relative;
			display: inline-block;

			> div:not(.txt-wrap) > a {
				width: 100%; height: 100%;
				position: absolute; z-index: 99;
			}

			&.half {
				width: 50%;
				height: 100%;
				float: left;
		
				.txt-wrap {
					@include media($mobile){
						width: 72% !important;
						bottom: 4rem !important;
						h4{
							font-size: 2rem !important;
						}
					}
				}
				&.prev {
					.txt-wrap {
						text-align: right;
						right: 10rem;
						@include media($mobile){
							left: 5rem;
						}
					}
				}
				&.next {
					.txt-wrap {
						left: 10rem;
						@include media($mobile){
							left: 5rem;
						}
					}
				}
			}
			&.full {
				width: 100%;
				position: relative;
				font-size: 3.4rem;


				// &.next {
				// 	.txt-wrap {
				// 		left: initial;
				// 		right: 5rem;
				// 		text-align: right;
				// 	}
				// }

				@include media($desktop){
					.txt-wrap {
						top: 26rem;
						left: 8rem;
					}
				}
			}
			.txt-wrap {
				position: absolute;
				bottom: 6.5rem;
				z-index: 9;
				a {color:white !important; z-index: 9 !important; position: relative !important;}

				p, h4 {
					color: white;
					text-transform: uppercase;
					position: relative;
					z-index: 99;
				}

				p {
					font-size: 1.1rem;
					@include media($mobile){
						margin-bottom: 1rem;
					}
				}
				h4 {
					font-size: 3.1rem;
					position: relative;
					@include media($mobile){
						margin-top: 0;
					}

					.arrow {
						height: 2.8rem;
						width: 4rem;
						position: absolute;
						top: 50%; margin-top: -1.5rem;
						background: url('../images/asset-chevron-right-play.png') no-repeat;
		  				background-size: 37%;
		  				opacity: 0;
						&.prevArrow {
							@include transform(rotate(180deg));
							left: -5rem;
						}
						&.nextArrow {
							right: -5rem;
						}
					}
				}

				@include media($mobile){
					bottom:1rem !important;
				    width: 60%;
				    h4{
						font-size: 1.8rem !important;
						line-height: 1.5 !important;
					}
				}
				
			}
		}
	} // /.blockprevnext
} // /.nextprev
.newsnav {
	.prev, .next {
		h4 {
			font-size: 1.8rem !important;
		}
	}
	.prev {
		h4 {
			padding-left: 3rem !important;
		}
	}
	.next {
		h4 {
			padding-right: 3rem !important;
		}
	}
	.full {
			h4 {
				padding: 0 !important;
			}
		}
}