.nextprev {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 5;
	height: 100%;

	.blockprevnext {
		overflow: hidden;

		@include media($large){
			height: 39.5rem;
		}
		@include media($medium){
			height: 33rem;
		}

		@include media($mobile){
			width: 100%;
			max-height: calc(100vh - 4rem);
		}
		a {text-decoration: none !important;}
			
		> div {
			position: relative;
			display: inline-block;
			vertical-align:top;
			overflow:hidden;

			> div:not(.txt-wrap) > a {
				width: 100%; height: 100%;
				position: absolute; z-index: 99;
			}

			&.half {
				width: 50%;
				height: 100%;
				float: left;
				@include media($mobile) {
					width: 100%;
					height: 50vh;
					float:none;
					overflow: hidden;
				}
		
				.txt-wrap {
					@include media($mobile){
						width: 72% !important;
						bottom: 4rem !important;
						h4{
							font-size: 2rem !important;
						}
					}
				}
				&.prev {
					.txt-wrap {
						text-align: right;
						right: 10rem;
						@include media($mobile){
							left: 5rem;
						}
					}
				}
				&.next {
					.txt-wrap {
						left: 10rem;
						@include media($mobile){
							left: 5rem;
						}
					}
				}
			}
			&.full {
				width: 100%;
				position: relative;
				font-size: 3.4rem;
				.txt-wrap {
					width: 88% !important;
				}
				&.prev {
					.txt-wrap {
						text-align: right;
						right: 10rem;
						@include media($mobile){
							left: 5rem;
						}
					}
				}
				@include media($desktop){
					.txt-wrap {
						top: 26rem;
						left: 8rem;
					}
				}
			}
			.txt-wrap {
				position: absolute;
				bottom: 6.5rem;
				z-index: 9;
				width: 70%;
				a {color:white !important; z-index: 9 !important; position: relative !important;}

				p, h4 {
					color: white;
					text-transform: uppercase;
					position: relative;
					z-index: 99;
				}

				p {
					font-size: 1.1rem;
					@include media($mobile){
						margin-bottom: 1rem;
					}
				}
				h4 {
					font-size: 3.1rem;
					position: relative;
					@include media($mobile){
						margin-top: 0;
						font-size: 1.8rem !important;
						line-height: 1.5 !important;
					}

					.arrow {
						height: 2.8rem;
						width: 4rem;
						display:block;
						position: absolute;
						top: 0;
						opacity: 0;

						&.prevArrow {
							@include transform(scale(0.5));
							background: url('../images/asset-chevron-left.png') no-repeat;
							background-size:36%;
							left: 0;
						}
						&.nextArrow {
							@include transform(scale(0.5));
							background: url('../images/asset-chevron-right.png') no-repeat;
							background-size:36%;
							right: 0; 
						}
					}
				}
			}
			@include media($mobile){
				&.next {
					.txt-wrap {
						left: 3rem !important;
						bottom:3rem !important;
					}
				}
				&.prev {
					.txt-wrap {
						right: 3rem !important;
						bottom:3rem !important;
					}
				}
			}
		}
	} // /.blockprevnext
} // /.nextprev
.newsnav {
	.prev, .next {
		h4 {
			font-size: 1.8rem !important;
		}
	}
	.prev {
		h4 {
			padding-left: 3rem !important;
		}
	}
	.next {
		h4 {
			padding-right: 3rem !important;
		}
	}
	.full {
			h4 {
				padding: 0 !important;
			}
		}
}