.single-news {
	@include row;
	@include media($desktop){
		border-bottom: 1px solid #e5e5e5;
		height: 9.5rem;
		line-height: 9.5rem;
		padding: 0 4rem;
	}	
	@include media($mobile) {
		border-bottom: none;
		margin-top: 3rem;
		&:before {
			content:" ";
			display: block;
			width: 10rem;
			height: 1px;
			background-color: #e5e5e5;
			position: absolute;
			top: -1.5rem;
			left: 50%; margin-left: -5rem;
		}
	}
	@include media($medium) {
		border-bottom: none;
		margin-top: 3rem;
		&:before {
			content:" ";
			display: block;
			width: 10rem;
			height: 1px;
			background-color: #e5e5e5;
			position: absolute;
			top: -1.5rem;
			left: 50%; margin-left: -5rem;
		}
	}
	position: relative;
	cursor: pointer;
	a {text-decoration:none;}
	.date {
		@include media($desktop){
			@include span-columns(2);
		}
		@include media($mobile){
			@include span-columns(12);
			text-align: center;
			line-height: 1.5;
			margin-bottom: 1rem;
		}
		@include media($medium){
			@include span-columns(12);
			text-align: center;
			line-height: 1.5;
			margin-bottom: 1rem;
		}
		font-family: $font-book;
		font-size: 1.4rem;
		color: $link-color;
	}
	.title {

		@include media($desktop){
			@include span-columns(10);
		}
		@include media($mobile){
			@include span-columns(12);
			text-align: center;
			line-height: 1.5;
			margin-bottom: 3rem;
		}
		@include media($medium){
			@include span-columns(12);
			text-align: center;
			line-height: 1.5;
			margin-bottom: 3rem;
		}
		color: black;
		font-size: 1.7rem;
		text-align: right;
		@include transition(all 0.3s ease-in);
		@include transition-delay(0.3s);
	}
	.chevron-right {
		width: 0.9rem; height: 2rem;
		background: url('../images/asset-chevron-right-grey.png') no-repeat center center;
    	background-size: contain;
		position: absolute; right: 4rem; top: 4.05rem;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		@include transition(all 0.3s ease-in);
		@include transform(scale(0.8));
	}
	&:hover {
		.title {
			color: $link-color;
			padding-right: 2rem;
			@include transition(all 0.25s ease-out);
		}
		.chevron-right {
			opacity: 1;
			@include transition(all 0.25s ease-out);
			@include transition-delay(0.15s);
		}
	}
}