
//==============   Work 
.main#work {
	@include outer-container;

	.filterpart {
		height: 16.5rem;
		line-height: 16.5rem;
		p {
			font-family: $font-book;
			font-size: 2.133rem;
			color: #000;
			a {
				display: inline-block;
				padding: 0 3rem;
				font-size: 1.866rem;
				text-decoration: none;
				&.active {
					color: $golden;
					text-decoration: underline;
				}
				&:hover {
					color: $golden;
				}
			}
			&:first-child {
				@include span-columns(10);
			}
			&:last-child {
				@include span-columns(2);
				a{
					color: $golden;
					padding-right: 5rem;
					text-align: right;
					float: right;
					&:hover {
						span {
							@include transition(all 0.5s ease);
							@include transform(rotate(360deg));
						}
					}
				} 
				position: relative;

				span {
					background: url('../images/asset-work-filter.png') no-repeat center center;
					@include size(32px 26px);
					display: inline-block;
					position: absolute;
					right: 0; top: 42%;

				}
				
			}
		}

	}

	section.showcase {
		overflow: auto;
		@include span-columns(12);

		.last {
			p {
				@extend .vertical-center;
				text-align: center;
				font-family: $base-font;
				font-size: 3.2rem;
				line-height: 3.9rem;
				margin-top: 31.3rem;
			}
		}
	}
}


//==============   Work Detail
.landing.work {
	position: relative;
	header {
		position: absolute;
		width: 100%;
		z-index: 9;
		top: 5.7rem;
		
		> div{
			@include outer-container;
			padding-left: 7.5rem;
			padding-right: 7.5rem;
			padding-bottom: 3.7rem;
			border-bottom: 2px solid rgba(255,255,255, 0.2);
		}
	}
	h1, h2 {
		font-family: $font-med;
		text-transform: uppercase;

		position: absolute;
		z-index: 9;
		left: 58rem;
	}
	h2 {
		font-size: 5.3rem;
		letter-spacing: 0.2rem;
		color: white;
		top: 43.7rem;
	}
	h1 {
		font-size: 2.667rem;
		letter-spacing: 0.1rem;
		color: white;
		opacity: 0.6;
		top: 51rem;
	}
	img {
		max-width: 100%;
	}
}
.main#work-detail {
	@include outer-container;
	
	aside {
		@include span-columns(3);
	}
	.project-content {
		@include span-columns(8);
		float: right;
		
		img {
			max-width: 100%;
		}
	}
	nav {
		@include span-columns(12);
	}
}