.landing.contact {
	width: 100%;
	height: 90vh;
	background: url(../images/asset-landing-contact.jpg) no-repeat center center;
	background-size: cover;

	&:before {
		content: "";
		@include size(100%);
		background:rgba(0,0,0,0.75);
		position: absolute;
	}
	.vertical-center {
		@include outer-container;
		padding-left: 1%;
		top: 42%;
	}
	h4 {
		font-size: 1.25rem;
		color: $golden;
		text-transform: uppercase;
		letter-spacing: .1rem;
		margin-top: 0;

	}
	h3 {
		font-family: $alt-font;
		font-size: 4.1rem;
		color: white;
		text-transform: none;
		letter-spacing: .1rem;
	}
}

.main#contact {
	overflow-x:hidden;
	position: relative;
	z-index: 99;
	top: -21.6rem;
    margin-bottom: -9.6rem;


	@include media($desktop){
		@include outer-container;
	}

	.contact-box {
		@include size(98% 43.2rem);
		margin: 0 auto;
		background: white;
		box-shadow: 0 11px 21px rgba(0,0,0,0.1);
		top: 0;

		h3, .h3 {
			font-family: $title-font;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.8rem;
			margin-bottom: 0;
			margin-top: 0;
		}
		.h3 {
			color: $golden;
		}

		p {
			color: #b0b0b0;
			font-size: 1.7rem;
			font-family: $light-font;
			text-align: center;
			margin-bottom: 0;
			margin-top: 0;
			line-height: 1.5;

			&:nth-child(3) {
				margin-top: 4rem;
			}
		}

		.light-btn {
			@include center(horizontal);
			font-family: $light-font;
			font-size: 1.7rem;
			letter-spacing: 0.05rem;
			text-transform: none;
			padding: 1.25rem 3rem;
			margin-top: 3rem;
			line-height: 1.5;
		}
		a:last-child {
			text-decoration: none;
			color: #4f4f4f;
			font-family: $font-book;
			font-size: 1.4rem;
			@include center(horizontal);
			text-align: center;
			display: block;
			margin-top: 2rem;
		}
	}

	section {
		width: 98%;
		margin: 0 auto;
		overflow: auto;
		@include media($mobile) {
			&:last-child{
				margin-bottom: 0;
			}
		}
		@include media($desktop) {
			&:first-of-type {
				margin-top: 6rem;
			}
			&:last-of-type {
				margin-bottom: 10rem;
			}
		}
			
		.half {

			margin-right: 0;
			margin-bottom: 0;
			clear: none !important;

			@include media($desktop){
				@extend .squarePadded;
				width: 50%;
			}
			@include media($mobile){
				width: 100%;
				height: 50vh;
				padding-bottom: 0;
				img {
					height: 100%;
					width: 100%;
					max-width: none;
				}
			}

			div {
				> div.vertical-center {
					> div {
						display: inline-block;
						position: relative; left: 50%;
						@include transform(translateX(-50%));
					}
				}
				.share-btn {
					width: 22rem;
				    a {
				    	width: 10rem;
					    margin: 0 0 1rem 0;
					    float: left;
				    }
				}
				h2, h3 {
					font-family: $title-font;
					font-size: 1.6rem;
					line-height: 2.5rem;
					color: black;
					text-transform: uppercase;
					margin-top: 0;
					margin-bottom: 0;
					@include media($mobile){
						font-size: 2.2rem;
					}
				}
				h3 {
					// font-family: $base-font;
					color: #989898;
					margin-bottom: 5rem;
					@include media($mobile){
						margin-bottom: 3rem;
					}
				}
				p {
					margin-bottom: 5rem;
					color: #6c6c6c;
					font-size: 1.4rem;
					line-height: 2.5rem;
					font-family: $font-book;

						@include media($mobile){
							font-size: 2rem !important;
							margin-bottom: 3rem !important;
						}
				}
				a.light-btn {
					@extend .small;
					margin-right: 1rem;
					border-size: 1px;
					font-family: $light-font;
					@include media($mobile){
						font-size: 1.6rem;
						font-family: $title-font;
					}
				}
			}
		}

		&.follow .light-btn {
			width: 10rem;
			text-align: center;
			padding: 0; 
			margin-bottom: 1rem;
		}
	}
	.social-icons {
		margin-top: 10rem;
		margin-bottom: 0 !important;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;
			@include center(horizontal);

		    height: 10rem;
		    padding-top: 2rem;

			li {
				@include size(7rem);
				position: relative;
				display: block;
				float: left;
				border-radius: 100%;
				margin-right: 4.5rem;
				cursor: pointer;
				&:last-child {margin-right: 0;}

				a {
					display: block;
					@include size(100%);
					// text-indent: -9999px;
					position: relative;
					z-index: 99;

					font-size: 3rem;
					color: #b2b2b2;
					text-decoration: none;
					text-align: center;
					line-height: 7rem;
					@include transition(all 0.25s $ease-in-expo);
					cursor: pointer;

					&:before {
						@include size(100%);
						position: absolute;
						top: 0;left: 0;
					}
				}

				&:after {
					content: " ";
					@include size(7rem);
					border-radius: 100%;
					border: 2px solid $golden;
					position: absolute;
					z-index: 88;
					left: 0; top: 0; 
					@include transform(scale(0.5));
					opacity: 0;
					@include transition(all 0.15s $ease-in-expo);
				}
				&:hover {
					a {
						@include transition(all 0.25s $ease-out-expo);
						color: $golden;
					}
					&:after {
						@include transform(scale(1));
						opacity: 1;
						@include transition(all 0.15s $ease-out-expo);
					}
				}
			}
		}
	}
}