.landing.home {
	background-color: transparent;
	background-size: cover;
	height: 100vh;
	position: relative;
	.abs-wrap {
		position: absolute;
		top: 0; width: 100%;
		z-index: 999;
	}
	header {
		@include outer-container;
		padding-top: 7.5rem;

		p {
			font-size: 1.75rem;
			margin-top: 0;
			color: white;
		}
	}
	.baseline {
		@include outer-container;
		p {
			font-family: $alt-font;
			font-size: 1.3rem;
			color: rgba(255,255,255,0.6);
			@include media($mobile) {
				padding-right: 2rem;
			}
		}
	}
}
.main#home {
	
	section {

		h3 {
			text-align: center;
			margin-top: 20rem;
			// margin-bottom: 10.5em;
			font-size: 1.6rem;
		}
		
		&.intro {
			@include outer-container;
			padding: 15rem 0 16rem;
			@include row;
			div {
				@include media($mobile) {
					@include span-columns(12);
				}
				@include media($desktop) {
					@include span-columns(7);
					padding-right: 3rem;
				}
				
				@include omega;
				
				h2 {
					font-size: 2.1rem;
					font-family: $light-font;
					margin: 0;
				}
				p {
					font-family: $light-font;
					margin-top: 0;
					font-size: 2.1rem;
					line-height: 4rem;
					word-wrap: nowrap;	
				}
			}
		}
		&.showreel {
			position: relative;
			@include media($mobile) {
				width: 100%;
				overflow: hidden;
				height:36.5rem;
			}
			img {
				@include media($desktop) {
					margin: 0 auto;
					max-width: 100%;
				}
			}
			> div {
				@extend .vertical-center;
				@include transform(translateY(-30%));
				position: absolute;
				width: 100%;
				overflow: visible;
				

				h2 {
					z-index: 9;
					width: 100%; text-align: center;
					color: #fff;
					text-transform: uppercase;
					font-size: 4rem;
					letter-spacing: 2rem;
					@include media($mobile) {
						font-size: 3rem;
						letter-spacing: 1.1rem;
					}
				}	
				.play-btn {
					@include transition(none);
					position: relative;
					@include media($mobile) {
						margin-top: 0;
						top: 0;
					}
				}
			}
				
		}
		&.clients {
			@include outer-container;
			h3 {margin-bottom: 3.5rem;}
			> div {
				@include media($mobile) {
					@include span-columns(6);
					@include omega;
				}
				@include media($desktop) {
					width: calc(100% / 5);
				}
				
				display: block;
				float: left;
				position: relative;

				img {
					width: 100%;
				}
			}
		}
		&.work {
			@include media($desktop) {
				@include outer-container;
			}
			h3 {
				margin-bottom: 10rem;
			}
		}
		&.news {
			@include outer-container;
			h3 {
				margin-bottom: 10rem;
			}
			@include media($desktop) {
				> div {
					border-top: 2px solid #e5e5e5;
				}
			}
			@include media($medium) {
				> div {
					border-top: none;
				}
			}
		}
		&.carreers {
			h3 {
				margin-bottom: 5rem !important;
			}
		}
	}
}