.landing.home {
	background-color: transparent;
	background-size: cover;
	height: 100vh;
	position: relative;

	.cta-band {
		height: 6.5rem;
		background-color: black;
		position: absolute;
		z-index: 88889;
		bottom: 0;
		width: 100%;
		line-height: 6.5rem;
		.row {
			@include outer-container();
			line-height: 6.5rem;
			div, p {
				display:inline-block;
				vertical-align:middle;
			}
		}

		.caret-down {
			@include size(1.6rem 0.9rem);
			background: url('../images/asset-caret-down.jpg') no-repeat center center;
			background-size: 70%;
		    box-sizing: content-box;
		    background-position-x: 0;
			cursor: pointer;
			padding: 1rem;
			padding-left: 0;
		}
		p {
			margin: 0;
			// float: right;
			width: calc(100% - 3rem);
			text-align: right;
			font-family: $base-font;
			font-size: 1.6rem;
			letter-spoacing: .2rem;
			line-height: 1rem;
			color: white;
			// text-transform: uppercase;
		}
	}
}
.main#home {
	
	section {

		h3 {
			text-align: center;
			margin-top: 20rem;
			// margin-bottom: 10.5em;
			font-size: 1.6rem;
			letter-spacing: .15rem;
		}
		
		&.intro {
			@include outer-container;
			padding: 15rem 0 16rem;
			@include row;
			div {
				@include media($mobile) {
					@include span-columns(12);
				}
				@include media($desktop) {
					@include span-columns(7);
					padding-right: 3rem;
				}
				
				@include omega;
				
				h2 {
					font-size: 2.1rem;
					font-family: $base-font;
					margin: 0;
				}
				p {
					font-family: $light-font;
					margin-top: 0;
					font-size: 2.1rem;
					line-height: 4rem;
					word-wrap: nowrap;	
				}
			}
		}
		&.showreel {
			position: relative;
			@include media($mobile) {
				width: 100%;
				overflow: hidden;
				height:36.5rem;
			}
			img {
				@include media($desktop) {
					margin: 0 auto;
					max-width: 100%;
				}
			}
			> div {
				@extend .vertical-center;
				@include transform(translateY(-50%));
				position: absolute;
				width: 100%;
				overflow: visible;
				

				h2 {
					z-index: 9;
					width: 100%; text-align: center;
					color: #fff;
					text-transform: uppercase;
					font-size: 4rem;
					letter-spacing: 2rem;
					@include media($mobile) {
						font-size: 3rem;
						letter-spacing: 1.1rem;
					}
				}	
				.modal-trigger {
					@include transition(none);
					position: relative;
					margin-top: -7rem; opacity: 0;
					@include media($mobile) {
						margin-top: 0;
						top: 0;
					}
					&.transition {
						@include transition(all 0.25s ease-in);
						&:hover {
							@include transition(all 0.25s ease-out);
						}
					}
				}
			}
				
		}
		&.clients {
			@include outer-container;
			h3 {margin-bottom: 3.5rem;}
			> div {
				@include media($mobile) {
					@include span-columns(6);
					@include omega;
				}
				@include media($desktop) {
					width: calc(100% / 5);
				}
				
				display: block;
				float: left;
				position: relative;

				img {
					width: 100%;
				}
			}
		}
		&.work {
			@include media($desktop) {
				@include outer-container;
			}
			h3 {
				margin-bottom: 10rem;
			}
		}
		&.news {
			@include outer-container;
			h3 {
				margin-bottom: 10rem;
			}
			@include media($desktop) {
				> div {
					border-top: 1px solid #e5e5e5;
				}
			}
			@include media($medium) {
				> div {
					border-top: none;
				}
			}
		}
		&.carreers {
			h3 {
				margin-bottom: 5rem !important;
			}
		}
	}
}