
//==============   Single News
.main#news {
	@include outer-container;
	margin-top: 10rem;
	h3 {
		font-size: 1.6rem;
		text-align: center;
		margin-bottom: 10rem;
	}
	.list {
		border-top: 2px solid #e5e5e5;
		
		@include media($mobile){
			border: none;
		}
		@include media($medium){
			border: none;
		}
	}	
}
.main#single-news {
	aside {
		display: none !important;
	}
	.related {
		margin-bottom: 20rem;
		
		h3 {
    		text-align: center;
    		font-size: 1.6rem;
			margin-bottom: 10rem;
		}
		> div {
			border-top: 2px solid #e5e5e5;
			@include media($medium){
				border: none;
			}
			@include media($mobile){
				border: none;
			}
		}	
	}
}