.main#services {
	@include outer-container;

	section {
		width: 100%;
		overflow: auto;

		&:first-child {
			margin-top: 10rem;
		}
		&:last-child {
			margin-bottom: 20rem;
		}
		.quarter {
			@extend .squarePadded;
			
			div {

				> div.vertical-center {
					padding-left: 5rem;
					padding-right: 2.5rem;
					div {
						display: inline-block;
						position: relative; left: 50%;
						@include transform(translateX(-50%));
					}
				}
				h3 {
					font-size: 1.6rem;
				}
				p {
					font-size: 2.1rem;
					font-family: $light-font;
					color: $color;
					line-height: 4rem;

					&.smaller {
						font-size: 1.1rem;
						color: #6c6c6c;
						line-height: 2.8rem;
						font-family: $base-font;
					}
				}
			}
		}

		&.brand p:not(.smaller),
		&.sectors p:not(.smaller) {
			margin-bottom: 4rem;
		}
		&.digital p:not(.smaller),
		&.photo p:not(.smaller) {
			margin-bottom: 8rem;
		}
	}
}
.blockquote {
	position: relative;
	img {
		width: 100%;
		max-width: 100%;
		display: inline-block;
		vertical-align: bottom;
	}

	div {
		position: absolute;
		left: 50%;
		top: 35%;
		p {text-align: right;}
		.quote {
			font-family: $base-font;
			color: white;
			font-size: 3rem;
			line-height: 4rem;
		}
		.author {
			// font-family: $light-font;
			color: $golden;
			font-size: 1.4rem; 
		}
	}
}