
//==============   Work 
.main#work {
	@include outer-container;
	width: 100%;
	overflow: auto;

	.filterpart {
		height: 12.3rem;
		
		> div {
			font-family: $base-font;
			font-size: 1.6rem;
			color: #000;
			cursor: default;

			p, a {
				cursor: pointer;
				line-height: 12.3rem;
				margin: 0;
			}
			
			a {
				display: inline-block;
				padding: 0 1.8rem;
				font-size: 1.4rem;
				text-decoration: none;
				&.active {
					color: $golden;
					text-decoration: underline;
				}
				&:hover {
					color: $golden;
				}
			}
			&:first-child {
				@include span-columns(10);
			}
			&:last-child {
				@include span-columns(2);
				height: 100%;
				position: relative;

				a{
					color: $golden;
					padding-right: 5rem;
					text-align: right;
					float: right;
					&:hover {
						span {
							@include transition(all 0.5s ease);
							@include transform(rotate(360deg));
						}
					}
				} 

				span {
					background: url('../images/asset-work-filter.png') no-repeat center center;
					background-size: cover;
					@include size(2.3rem 1.9rem);
					display: inline-block;
					position: absolute;
					right: 0; top: 42%;

				}
				
			}
		}

	}

	section.showcase {
		overflow: visible;
		@include span-columns(12);

		.disabled {
			opacity: 0;
			display: none;
		}

		.last {
			@extend .fill-remainder;
			padding-top: 21.5%;
			p {
				@extend .vertical-center;
				text-align: center;
				font-family: $light-font;
				font-size: 2.5rem;
			}
		}
	}
}