
//==============   Work 
.main#work {
	@include outer-container;

	.filterpart {
		height: 12.3rem;
		line-height: 12.3rem;
		p {
			font-family: $font-book;
			font-size: 1.6rem;
			color: #000;
			a {
				display: inline-block;
				padding: 0 1.8rem;
				font-size: 1.4rem;
				text-decoration: none;
				&.active {
					color: $golden;
					text-decoration: underline;
				}
				&:hover {
					color: $golden;
				}
			}
			&:first-child {
				@include span-columns(10);
			}
			&:last-child {
				@include span-columns(2);
				a{
					color: $golden;
					padding-right: 5rem;
					text-align: right;
					float: right;
					&:hover {
						span {
							@include transition(all 0.5s ease);
							@include transform(rotate(360deg));
						}
					}
				} 
				position: relative;

				span {
					background: url('../images/asset-work-filter.png') no-repeat center center;
					@include size(32px 26px);
					display: inline-block;
					position: absolute;
					right: 0; top: 42%;

				}
				
			}
		}

	}

	section.showcase {
		overflow: auto;
		@include span-columns(12);

		.last {
			@extend .fill-remainder;
			padding-top: 21.5%;
			p {
				@extend .vertical-center;
				text-align: center;
				font-family: $light-font;
				font-size: 2.5rem;
			}
		}
	}
}