
//==============   Work 
.main#work {
	@include outer-container;
	width: 100%;
	overflow: auto;
	@include media($mobile){
		margin-left: 0;margin-right: 0;
		max-width: 100%;
	}

	.filterpart {
		height: 12.3rem;
		padding-top: 3.5rem;
		
		> div {
			font-family: $base-font;
			font-size: 1.4rem;
			color: #000;
			cursor: default;

			p, a {
				cursor: pointer;
				margin: 0;
			}
			
			a {
				display: inline-block;
				padding: 0 1.8rem;
				font-size: 1.4rem;
				text-decoration: none;
				@include transition(color 0.25s ease);
				&.active {
					color: $golden;
					text-decoration: underline;
				}
				&:hover {
					color: $golden;
					@include transition(color 0.25s ease);
				}
				@include media($mobile) {
					padding: 0 1rem;
				}
			}
			&:first-child {
				@include media($mobile){
					@include span-columns(12);
					p {
						text-align: center;
					}
				}

				@include span-columns(8);

				p {
					line-height: 3;
				}
			}
			&:last-child {
				display: inline-block;
				float: right;
				position: relative;

				a{
					color: $golden;
					padding-right: 5rem;
					line-height: 3;
					text-align: right;
					float: right;

					@include media($mobile){
						display:none;
					}


					&:hover {
						span {
							@include transition(all 0.5s ease);
							@include transform(rotate(360deg));
						}
					}
				} 

				span {
					background: url('../images/asset-work-filter.png') no-repeat center center;
					background-size: cover;
					@include size(2.3rem 1.9rem);
					display: inline-block;
					position: absolute;
					// right: 0; top: 42%;
					right: 2%; top: 30%;
				}
				
			}
			
		}

	}

	section.showcase {
		overflow: visible;
		@include span-columns(12);

		.disabled {
			opacity: 0;
			display: none;
		}

		.last {
			@extend .fill-remainder;
			padding-top: 21.5%;
			p {
				@extend .vertical-center;
				text-align: center;
				font-family: $light-font;
				font-size: 2.5rem;
			}
		}
	}
}