section.carreers {
	@include outer-container;
	overflow: auto;
	width: 100%;
	h3 {
		margin-bottom: 5rem !important;
	}
	p {
		font-size: 2.1rem;
		text-align: center; 
	}
	a.light-btn {
		font-size: 1rem;
		line-height: 3.5rem;
		height: 3.7rem;
		margin-bottom: 23rem;
		margin-top: 4rem;
	}
}