
header.black {
	$header-bg: #000000;
	$header-color: #ffffff;
	height: 7.8rem;
	padding-top: 2.8rem;
	background-color: $header-bg;
	
	.wrapper {
		@include outer-container;
	}

	a {text-decoration: none;}

	a.logo {
		display: inline-block;
		vertical-align: top;
		width: auto;
		color: $header-color;
		font-size: 1.2rem;
		float: left;
		img {
			width: 8.5rem;
		}
	}
	
	nav {
		@include span-columns(5);
		float: right;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				a {
					color: $header-color !important;
					font-size: 1.2rem;
				}
			}
		}
	}
}

header {
	.trigger {
		font-size: 1.8rem;
		height: 1.8rem;
		display: inline-block;
		vertical-align: top;
		float: right;
		cursor: pointer;
		color: white;
	}
	.menu {
		display: none;
	}
}
