
header.black {
	$header-bg: #000000;
	$header-color: #ffffff;
	height: 7.8rem;
	padding-top: 3rem;
	background-color: $header-bg;
	
	.wrapper {
		@include outer-container;
	}

	a {text-decoration: none;}

	a.logo {
		display: inline-block;
		vertical-align: top;
		width: auto;
		float: left;
		img {
			width: 5.7rem;
			max-width: 5.7rem;
		}
	}
}

header {
	a.logo {
		
		img {
			width: 5.7rem;
			max-width: 5.7rem;
		}
	}
	#trigger {
		font-size: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		vertical-align: top;
		float: right;
		cursor: pointer;
		color: white;
	}
}
