.landing:not(.home) {
	position: relative;
	header {
		position: absolute;
		width: 100%;
		z-index: 9;
		top: 4.3rem;
		
		> div{
			@include outer-container;
			padding-left: 5.5rem;
			padding-right: 5.5rem;
			padding-bottom: 2.8rem;
			border-bottom: 2px solid rgba(255,255,255, 0.2);
		}
	}
	.h1, .h2 {
		font-family: $font-med;
		text-transform: uppercase;

		position: absolute;
		z-index: 9;
		left: 52rem;
	}
	.h2 {
		font-size: 4rem;
		letter-spacing: 0.2rem;
		color: white;
		top: 32.8rem;
	}
	.h1 {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		color: white;
		opacity: 0.6;
		top: 38.4rem;
	}
	img {
		max-width: 100%;
	}
	&.news {
		.h2 {
			line-height: 5rem;
			top: 26.5rem;
			max-width: 55%;
		}
	}
}