.single-news {
	@include row;

	border-bottom: 2px solid #e5e5e5;
	height: 9.5rem;
	line-height: 9.5rem;
	position: relative;
	padding: 0 4rem;
	cursor: pointer;

	.date {
		font-family: $font-book;
		@include span-columns(2);
		font-size: 1.4rem;
		color: $link-color;
	}
	.title {
		font-family: $font-Stmed;
		@include span-columns(10);
		color: black;
		font-size: 1.6rem;
		text-align: right;
		@include transition(all 0.3s ease-in);
		@include transition-delay(0.3s);
	}
	.chevron-right {
		width: 0.9rem; height: 2rem;
		background: url('../images/asset-chevron-right.png') no-repeat center center;
		position: absolute; right: 4rem; top: 3.8rem;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		@include transition(all 0.3s ease-in);
		@include transform(scale(0.8));
	}
	&:hover {
		.title {
			color: $link-color;
			padding-right: 2rem;
			@include transition(all 0.25s ease-out);
		}
		.chevron-right {
			opacity: 1;
			@include transition(all 0.25s ease-out);
			@include transition-delay(0.15s);
		}
	}
}