.single-work {
	position: relative;
	display: block;
	width: 50%;
	// max-height: 50vh;
	height: 100%;
	float: left;
	overflow: hidden;

	img {
		width: 100%;
	}

	.hover {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0; right: 0;
		top: 0; bottom: 0;
		background: rgba(0,0,0,0.8);
		z-index: 8;
		// opacity: 0;

		> div {
			@extend .vertical-center;
			text-align: center;
			h5 {
				font-family: $font-med;
				letter-spacing: .1rem;
				margin: 0;
				font-size: 1.4rem;
				color: $contrast;
				text-transform:uppercase;
				margin-bottom: 1.4rem;
			}
			p {
				font-family: $font-med;
				letter-spacing: .1rem;
				margin: 0;
				font-size: 1.4rem;
				color: #fff;
			}
		}
	}	
	a {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
	}

}